<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dispart.dao.TDictDataMapper">
  <resultMap id="BaseResultMap" type="com.dispart.model.order.TDictData">
    <!--@mbg.generated-->
    <!--@Table logistics.t_dict_data-->
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_val" jdbcType="VARCHAR" property="itemVal" />
    <result column="col_name" jdbcType="VARCHAR" property="colName" />
    <result column="col_name_cn" jdbcType="VARCHAR" property="colNameCn" />
    <result column="item_type" jdbcType="VARCHAR" property="itemType" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="last_upd_time" jdbcType="DATE" property="lastUpdTime" />
    <result column="spare" jdbcType="VARCHAR" property="spare" />
    <result column="uorg_code" jdbcType="VARCHAR" property="uorgCode" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, item_name, item_val, col_name, col_name_cn, item_type, item_desc, create_time, 
    last_upd_time, spare, uorg_code, `operator`, delete_flag
  </sql>
</mapper>