<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dispart.dao.TDiscountsUserMapper">
  <resultMap id="BaseResultMap" type="com.dispart.model.order.TDiscountsUser">
    <!--@mbg.generated-->
    <!--@Table logistics.t_discounts_user-->
    <result column="ACT_ID" jdbcType="INTEGER" property="actId" />
    <result column="PROV_ID" jdbcType="VARCHAR" property="provId" />
    <result column="DISCNT_DT" jdbcType="DATE" property="discntDt" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="UP_TIME" jdbcType="TIMESTAMP" property="upTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ACT_ID, PROV_ID, DISCNT_DT, REMARK, CREAT_TIME, UP_TIME
  </sql>
</mapper>