<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disPart.dao.TOrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.dispart.model.order.TOrderInfo">
    <!--@mbg.generated-->
    <!--@Table logistics.t_order_info-->
    <id column="MAIN_ORDER_ID" jdbcType="CHAR" property="mainOrderId" />
    <result column="PAYMENT_MODE" jdbcType="VARCHAR" property="paymentMode" />
    <result column="ORDER_ST" jdbcType="VARCHAR" property="orderSt" />
    <result column="ORDER_TYPE" jdbcType="CHAR" property="orderType" />
    <result column="MARKET_ID" jdbcType="CHAR" property="marketId" />
    <result column="ORDER_TOT_AMT" jdbcType="DECIMAL" property="orderTotAmt" />
    <result column="TXN_TOT_AMT" jdbcType="DECIMAL" property="txnTotAmt" />
    <result column="CCB_WALLET_NO" jdbcType="VARCHAR" property="ccbWalletNo" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="WALLET_NM" jdbcType="VARCHAR" property="walletNm" />
    <result column="PAYMENT_RSLT" jdbcType="VARCHAR" property="paymentRslt" />
    <result column="BANK_CD" jdbcType="VARCHAR" property="bankCd" />
    <result column="PAYMENT_URL" jdbcType="VARCHAR" property="paymentUrl" />
    <result column="PAYEMTN_PARM" jdbcType="VARCHAR" property="payemtnParm" />
    <result column="USER_IDENT" jdbcType="VARCHAR" property="userIdent" />
    <result column="PAYMENT_DESC" jdbcType="VARCHAR" property="paymentDesc" />
    <result column="OEDER_TIMEOUT" jdbcType="VARCHAR" property="oederTimeout" />
    <result column="OPER_ID" jdbcType="CHAR" property="operId" />
    <result column="INITIATOR_TIME" jdbcType="TIMESTAMP" property="initiatorTime" />
    <result column="PAYMENT_TRACE_ID" jdbcType="VARCHAR" property="paymentTraceId" />
    <result column="UPDATE_DT" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="PAYMENT_DT_TM" jdbcType="TIMESTAMP" property="paymentDtTm" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    MAIN_ORDER_ID, PAYMENT_MODE, ORDER_ST, ORDER_TYPE, MARKET_ID, ORDER_TOT_AMT, TXN_TOT_AMT, 
    CCB_WALLET_NO, APP_ID, WALLET_NM, PAYMENT_RSLT, BANK_CD, PAYMENT_URL, PAYEMTN_PARM, 
    USER_IDENT, PAYMENT_DESC, OEDER_TIMEOUT, OPER_ID, INITIATOR_TIME, PAYMENT_TRACE_ID, 
    UPDATE_DT, PAYMENT_DT_TM
  </sql>
</mapper>