<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disPart.dao.TSubsidInfoMapper">

  <resultMap id="BaseResultMap" type="com.dispart.vo.entrance.TSubsidInfo">
    <!--@mbg.generated-->
    <!--@Table t_subsid_info-->
    <id column="IN_ID" jdbcType="VARCHAR" property="inId" />
    <result column="PROV_ID" jdbcType="VARCHAR" property="provId" />
    <result column="SUBSID_WGHT" jdbcType="DECIMAL" property="subsidWght" />
    <result column="SUBSID_PRICE" jdbcType="DECIMAL" property="subsidPrice" />
    <result column="SUBSID_TTL_AMT" jdbcType="DECIMAL" property="subsidTtlAmt" />
    <result column="RCV_NAME" jdbcType="VARCHAR" property="rcvName" />

    <result column="RCV_PHONE" jdbcType="VARCHAR" property="rcvPhone" />
    <result column="PRDCT_TYPE" jdbcType="VARCHAR" property="prdctType" />
    <result column="SUBSID_TP" jdbcType="CHAR" property="subsidTp" />
    <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="REAMRK" jdbcType="VARCHAR" property="reamrk" />
    <result column="CAUSE" jdbcType="VARCHAR" property="cause" />
    <result column="PROPOSER" jdbcType="VARCHAR" property="proposer" />
    <result column="AUDITOR" jdbcType="VARCHAR" property="auditor" />
    <result column="OPER_ID" jdbcType="VARCHAR" property="operId" />

    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="UP_TIME" jdbcType="TIMESTAMP" property="upTime" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tsi.IN_ID, tsi.PROV_ID, tsi.SUBSID_WGHT, tsi.SUBSID_PRICE, tsi.SUBSID_TTL_AMT, tsi.RCV_NAME,
    tsi.RCV_PHONE, tsi.PRDCT_TYPE, tsi.SUBSID_TP, tsi.CARD_NO, tsi.STATUS, tsi.REMARK, tsi.CAUSE, tsi.PROPOSER, tsi.AUDITOR,
    tsi.OPER_ID, tsi.CREAT_TIME, tsi.UP_TIME
  </sql>

  <sql id="whereSql">
    <if test="inId != null and inId != ''">
      tsi.IN_ID = #{inId}
    </if>
    <if test="provId != null and provId != ''">
      and tsi.PROV_ID = #{provId}
    </if>

    <if test="subsidWght != null">
      and tsi.SUBSID_WGHT = #{subsidWght}
    </if>
    <if test="subsidPrice != null">
      and tsi.SUBSID_PRICE = #{subsidPrice}
    </if>
    <if test="subsidTtlAmt != null">
      and tsi.SUBSID_TTL_AMT = #{subsidTtlAmt}
    </if>

    <if test="rcvName != null and rcvName != ''">
      and tsi.RCV_NAME = #{rcvName}
    </if>
    <if test="rcvPhone != null and rcvPhone != ''">
      and tsi.RCV_PHONE = #{rcvPhone}
    </if>
    <if test="prdctType != null and prdctType != ''">
      and tsi.PRDCT_TYPE = #{prdctType}
    </if>
    <if test="subsidTp != null and subsidTp != ''">
      and tsi.SUBSID_TP = #{subsidTp}
    </if>
    <if test="cardNo != null and cardNo != ''">
      and tsi.CARD_NO = #{cardNo}
    </if>
    <if test="status != null and status != ''">
      and tsi.STATUS = #{status}
    </if>
    <if test="remark != null and remark != ''">
      and tsi.REMARK = #{remark}
    </if>
    <if test="cause != null and cause != ''">
      and tsi.CAUSE = #{cause}
    </if>
    <if test="proposer != null and proposer != ''">
      and tsi.PROPOSER = #{proposer}
    </if>
    <if test="auditor != null and auditor != ''">
      and tsi.AUDITOR = #{auditor}
    </if>
    <if test="operId != null and operId != ''">
      and tsi.OPER_ID = #{operId}
    </if>
  </sql>

  <!-- 补贴申请 修改 -->
  <update id="updateSubsidInfoStatus">
    UPDATE t_subsid_info
    SET `STATUS` = #{status}
    WHERE IN_ID = #{inId}
  </update>

  <!-- 补贴申请 查询 -->
  <select id="selectSubsidInfoList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM t_subsid_info tsi
    WHERE tsi.`STATUS` = '3';
    ORDER BY tsi.UP_TIME DESC
  </select>

  <!-- 补贴申请 查询状态3待撤回 -->
  <select id="judgeTaskStatus" resultType="java.lang.Integer">
    SELECT COUNT(IN_ID)
    FROM t_subsid_info
    WHERE `STATUS` = '3';
  </select>
</mapper>