<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dispart.dao.AccnoReverseApplyMapper">
  <resultMap id="BaseResultMap" type="com.dispart.model.AccnoReverseApply">
    <!--@mbg.generated-->
    <!--@Table t_accno_reverse_apply-->
    <id column="ID" property="id" />
    <result column="JRNL_NUM" property="jrnlNum" />
    <result column="OPER_ID" property="operId" />
    <result column="OPER_TM" property="operTm" />
    <result column="CHECK_ID" property="checkId" />
    <result column="CHECK_TM" property="checkTm" />
    <result column="CHECK_ST" property="checkSt" />
    <result column="REMARK" property="remark" />
    <result column="SUB_ORG" property="subOrg" />
    <result column="DEP_ID" property="depId" />
    <result column="CREAT_TIME" property="creatTime" />
    <result column="UP_TIME" property="upTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, JRNL_NUM, OPER_ID, OPER_TM, CHECK_ID, CHECK_TM, CHECK_ST, REMARK, SUB_ORG, DEP_ID, 
    CREAT_TIME, UP_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_accno_reverse_apply
    where ID = #{id}
  </select>
</mapper>