<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dispart.dao.PayJrnMapper">
  <resultMap id="BaseResultMap" type="com.dispart.model.PayJrn">
    <!--@mbg.generated-->
    <!--@Table t_pay_jrn-->
    <id column="JRNL_NUM" property="jrnlNum" />
    <result column="BUSINESS_NO" property="businessNo" />
    <result column="TXN_TYPE" property="txnType" />
    <result column="TRANS_MD" property="transMd" />
    <result column="TXN_TM" property="txnTm" />
    <result column="TXN_AMT" property="txnAmt" />
    <result column="CHARGES" property="charges" />
    <result column="RATE" property="rate" />
    <result column="PAYER_NO" property="payerNo" />
    <result column="PAY_NAME" property="payName" />
    <result column="PAY_CARD" property="payCard" />
    <result column="PAY_ACCT" property="payAcct" />
    <result column="PAYEE_NUM" property="payeeNum" />
    <result column="PAYEE_CARD" property="payeeCard" />
    <result column="PAYEE_ACCT" property="payeeAcct" />
    <result column="MAIN_ORDER_ID" property="mainOrderId" />
    <result column="POS_ORDER_ID" property="posOrderId" />
    <result column="SUMMARY" property="summary" />
    <result column="CREDIT_NO" property="creditNo" />
    <result column="STATUS" property="status" />
    <result column="REMARK" property="remark" />
    <result column="OPER_ID" property="operId" />
    <result column="CREAT_TIME" property="creatTime" />
    <result column="UP_TIME" property="upTime" />
    <result column="CHANL_NO" property="chanlNo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    JRNL_NUM, BUSINESS_NO, TXN_TYPE, TRANS_MD, TXN_TM, TXN_AMT, CHARGES, RATE, PAYER_NO,
    PAY_NAME, PAY_CARD, PAY_ACCT, PAYEE_NUM, PAYEE_CARD, PAYEE_ACCT, MAIN_ORDER_ID,
    POS_ORDER_ID, SUMMARY, CREDIT_NO, `STATUS`, REMARK, OPER_ID, CREAT_TIME,
    UP_TIME, CHANL_NO
  </sql>

  <select id="getPayJrn" parameterType="com.dispart.dto.dataquery.Disp20210338InDto" resultType="com.dispart.dto.dataquery.Disp20210338OutDto">
    SELECT
    t.JRNL_NUM, t.BUSINESS_NO, t.TXN_TYPE, t.TRANS_MD, t.TXN_TM, t.TXN_AMT, t.RATE, t.PAYER_NO,
    t.PAY_NAME, t.PAY_CARD, t.PAY_ACCT, t.PAYEE_NUM, t.PAYEE_CARD, t.PAYEE_ACCT, t.MAIN_ORDER_ID,
    t.POS_ORDER_ID, t.SUMMARY, t.CREDIT_NO, t.`STATUS`, t.REMARK, t.CREAT_TIME,
    t.UP_TIME, t.CHANL_NO, t.CHARGES extraAmt,
    e.EMP_NM operId, c1.PROV_NM payName,c2.PROV_NM payee, o.PAYMENT_TRACE_ID hsbOrderId
    FROM t_pay_jrn t
    LEFT JOIN t_order_info o on t.MAIN_ORDER_ID = o.MAIN_ORDER_ID
    LEFT JOIN t_employee_info e on t.OPER_ID = e.EMP_ID
    LEFT JOIN t_custom_info_manager c1 on t.PAYER_NO = c1.PROV_ID
    LEFT JOIN t_custom_info_manager c2 on t.PAYEE_NUM = c2.PROV_ID
     WHERE 1=1
     <if test="operNm != null and operNm != ''">AND e.EMP_NM like concat('%',#{operNm},'%')</if>
     <if test="businessNum != null and businessNum != ''">AND t.BUSINESS_NO like concat('%',#{businessNum},'%')</if>
     <if test="txnType != null and txnType != ''">AND t.TXN_TYPE = #{txnType}</if>
     <if test="transMd != null and transMd != ''">AND t.TRANS_MD = #{transMd}</if>
     <if test="status != null and status != ''">AND t.STATUS = #{status}</if>
     <if test="provId != null and provId != ''">AND (t.PAYER_NO = #{provId} or t.PAYEE_NUM = #{provId})</if>
     <if test="beginDate != null and beginDate != ''">AND t.TXN_TM &gt;= #{beginDate}</if>
     <if test="endDate != null and endDate != ''">AND #{endDate} &gt;= t.TXN_TM</if>
     <if test="provNm != null and provNm != ''">AND (c1.PROV_NM like #{provNm} or c2.PROV_NM like #{provNm})</if>
     ORDER BY t.CREAT_TIME DESC
     <if test="pageSize != null and pageNum != null">limit #{pageNum},#{pageSize}</if>
  </select>

  <select id="getPayJrnCount" parameterType="com.dispart.dto.dataquery.Disp20210338InDto" resultType="java.lang.Integer">
     SELECT count(*) FROM t_pay_jrn t
     LEFT JOIN t_employee_info e on t.OPER_ID = e.EMP_ID
     LEFT JOIN t_custom_info_manager c1 on t.PAYER_NO = c1.PROV_ID
     LEFT JOIN t_custom_info_manager c2 on t.PAYEE_NUM = c2.PROV_ID
     WHERE 1=1
     <if test="operNm != null and operNm != ''">AND e.EMP_NM like concat('%',#{operNm},'%')</if>
     <if test="businessNum != null and businessNum != ''">AND t.BUSINESS_NO like concat('%',#{businessNum},'%')</if>
     <if test="txnType != null and txnType != ''">AND t.TXN_TYPE = #{txnType}</if>
     <if test="transMd != null and transMd != ''">AND t.TRANS_MD = #{transMd}</if>
     <if test="status != null and status != ''">AND t.STATUS = #{status}</if>
     <if test="provId != null and provId != ''">AND (t.PAYER_NO = #{provId} or t.PAYEE_NUM = #{provId})</if>
     <if test="beginDate != null and beginDate != ''">AND t.TXN_TM &gt;= #{beginDate}</if>
     <if test="endDate != null and endDate != ''">AND #{endDate} &gt;= t.TXN_TM</if>
     <if test="provNm != null and provNm != ''">AND (c1.PROV_NM like #{provNm} or c2.PROV_NM like #{provNm})</if>
  </select>

</mapper>