<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dispart.dao.mapper.TVehicleMonthMapper">
    <select id="selectByVehicleNum" resultType="com.dispart.vo.entrance.TVehicleMonth">
        select *
        from t_vehicle_month
        where VEHICLE_NUM = #{vehicleNum} and STATUS = '2'
    </select>
</mapper>